<div id="<%= dom_id(post) %>">
  <div class="row mb-3">
    <div class="col-md-8">
      <h1><%= post.title %></h1>
      <p class="text-muted">by <%= post.user ? post.user.name : 'Unknown' %></p>
      <p class="mt-3"><%= post.body %></p>
      <% if post.photo.attached? %>
        <%= image_tag post.photo.variant(resize_to_limit: [800, nil]), class: "img-fluid rounded" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Post Info</h5>
          <ul class="list-unstyled">
            <li><strong>Views:</strong> <%= post.views %></li>
            <li><strong>Created at:</strong> <%= post.created_at.strftime("%B %d, %Y") %></li>
            <li><strong>Updated at:</strong> <%= post.updated_at.strftime("%B %d, %Y") %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
