<p style="color: green"><%= notice %></p>

<%= render @post %>
<p>
  <strong>Photo:</strong>
  <% if @post.photo.attached? %>
    <%= image_tag @post.photo.variant(resize_to_limit: [400, 400]), class: "post-image" %>
  <% else %>
    No photo attached
  <% end %>
</p>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
